

#Marcouno{
    border: 2px solid rgb(0, 253, 0) ;
    width: 30%;
    height: 30px;
    font-size: 30px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
    
}

#Marcodos{
    border: 2px solid rgb(0, 253, 0) ;
    width: 30%;
    height: 30px;
    left: 600px;
    position:relative;
    font-size: 30px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif
    
}
#ResultadoSuma{ 
    border: 8px solid rgb(0, 255, 242);
    width: 30%;
    height: 30px;
    margin:0 auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px; 
    
}
